icp_6/Source Code/Change.json
[{"id":"110f22cd.497e95","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ee34eba9.4a","type":"inject","z":"110f22cd.497e95","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["1691282a.73eaa8"]]},{"id":"1691282a.73eaa8","type":"change","z":"110f22cd.497e95","name":"ChangeNodeDemo","rules":[{"t":"set","p":"payload","pt":"msg","to":"Good Morning","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":180,"wires":[["cc1365d1.8d749"]]},{"id":"cc1365d1.8d749","type":"debug","z":"110f22cd.497e95","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":180,"wires":[]}]