icp_6/Source Code/HTTP.json
[{"id":"22600eb0.f1031a","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"38f06e9.ae49f12","type":"http in","z":"22600eb0.f1031a","name":"","url":"/hiRoos","method":"get","upload":false,"swaggerDoc":"","x":170,"y":180,"wires":[["5f67f49c.b2fd54"]]},{"id":"e99b7dfa.c1317","type":"http response","z":"22600eb0.f1031a","name":"","statusCode":"","headers":{},"x":730,"y":260,"wires":[]},{"id":"5f67f49c.b2fd54","type":"template","z":"22600eb0.f1031a","name":"display_Image","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\n<head>\n</head>\n<body>\n<h1>Hello iot roos </h1>\n</body>\n<img src= \"https://i.ibb.co/f4xjNjF/team3.jpg\" alt=\"roos.com\"> \n</html>","output":"str","x":520,"y":280,"wires":[["e99b7dfa.c1317","133f9e3.da30b62"]]},{"id":"133f9e3.da30b62","type":"file","z":"22600eb0.f1031a","name":"","filename":"H:\\UMKC\\IOT\\videos\\team3.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":710,"y":360,"wires":[[]]}]