icp_6/Source Code/MQTT.json
[{"id":"eeb2aae.af3d758","type":"tab","label":"Flow 10","disabled":false,"info":""},{"id":"72c40d6d.9339d4","type":"mqtt in","z":"eeb2aae.af3d758","name":"","topic":"iot/#","qos":"0","datatype":"auto","broker":"24e79d6.dd90fe2","x":250,"y":260,"wires":[["101a6a66.beab5e"]]},{"id":"f30cf0fe.ff0758","type":"mqtt out","z":"eeb2aae.af3d758","name":"","topic":"","qos":"","retain":"","broker":"24e79d6.dd90fe2","x":600,"y":140,"wires":[]},{"id":"e776b4af.68be18","type":"inject","z":"eeb2aae.af3d758","name":"","topic":"iot/icp5","payload":"hello roos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":140,"wires":[["f30cf0fe.ff0758"]]},{"id":"101a6a66.beab5e","type":"debug","z":"eeb2aae.af3d758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":260,"wires":[]},{"id":"24e79d6.dd90fe2","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]