icp_6/Source Code/Range.json
[{"id":"1e59ca9f.229915","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ac2aac4.5c581d","type":"range","z":"1e59ca9f.229915","minin":"100","maxin":"2000","minout":"400","maxout":"700","action":"clamp","round":true,"property":"payload","name":"RangeDemo","x":470,"y":180,"wires":[["f9101f29.5ee67"]]},{"id":"735896be.534e28","type":"inject","z":"1e59ca9f.229915","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["ac2aac4.5c581d"]]},{"id":"710d6852.c548e8","type":"inject","z":"1e59ca9f.229915","name":"","topic":"","payload":"513","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["ac2aac4.5c581d"]]},{"id":"cde134cc.8f2f2","type":"inject","z":"1e59ca9f.229915","name":"","topic":"","payload":"1024","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["ac2aac4.5c581d"]]},{"id":"f9101f29.5ee67","type":"debug","z":"1e59ca9f.229915","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":180,"wires":[]}]