icp_6/Source Code/RBE.json
[{"id":"4c788182.7eabb8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"967ef236.0b63","type":"rbe","z":"4c788182.7eabb8","name":"RbeDemo","func":"narrowband","gap":"50","start":"","inout":"in","property":"payload","x":430,"y":220,"wires":[["7b41612c.5a3df8"]]},{"id":"24eabe13.b1f69a","type":"inject","z":"4c788182.7eabb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["3648300b.bd65f8"]]},{"id":"7b41612c.5a3df8","type":"debug","z":"4c788182.7eabb8","name":"RangeOut","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":400,"wires":[]},{"id":"3648300b.bd65f8","type":"function","z":"4c788182.7eabb8","name":"RandomNumberGenerator","func":"rnd = Math.round (Math.random() * 100);\nmsg.payload = rnd;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["967ef236.0b63","a5162855.92b74"]]},{"id":"a5162855.92b74","type":"debug","z":"4c788182.7eabb8","name":"ActualOut","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":100,"wires":[]}]