icp_6/Source Code/Switch.json
[{"id":"3fdf0c70.fe115c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bcad54b3.12f9c","type":"inject","z":"3fdf0c70.fe115c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":260,"wires":[["772add36.07847c"]]},{"id":"772add36.07847c","type":"function","z":"3fdf0c70.fe115c","name":"RandomNumberGenerator","func":"rnd = Math.round (Math.random() * 100);\nmsg.payload = rnd;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["3ee08fb5.a5ab1","362c1946.af6b16"]]},{"id":"3ee08fb5.a5ab1","type":"debug","z":"3fdf0c70.fe115c","name":"random_Number","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":160,"wires":[]},{"id":"362c1946.af6b16","type":"switch","z":"3fdf0c70.fe115c","name":"SwitchNodeDemo","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"},{"t":"eq","v":"50","vt":"num"},{"t":"gt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":580,"y":380,"wires":[["57f966d0.c44e08"],["5979d740.0f64b"],["c6e35161.6c325"]]},{"id":"57f966d0.c44e08","type":"debug","z":"3fdf0c70.fe115c","name":"less_than_50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":280,"wires":[]},{"id":"5979d740.0f64b","type":"debug","z":"3fdf0c70.fe115c","name":"equal_50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":360,"wires":[]},{"id":"c6e35161.6c325","type":"debug","z":"3fdf0c70.fe115c","name":"greater_than_50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":420,"wires":[]}]