icp_6/Source Code/WebSocket.json
[{"id":"a9045dfe.388788","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"d271f0c6.eb33f8","type":"websocket out","z":"a9045dfe.388788","name":"","server":"","client":"af2d02.c3d18b","x":550,"y":200,"wires":[]},{"id":"1c8525.a25d5adb","type":"websocket in","z":"a9045dfe.388788","name":"","server":"","client":"af2d02.c3d18b","x":180,"y":320,"wires":[["458dc0d1.73e56"]]},{"id":"4e600f7f.f73ae","type":"inject","z":"a9045dfe.388788","name":"InputData","topic":"","payload":"Hello Roos","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":200,"wires":[["d271f0c6.eb33f8"]]},{"id":"458dc0d1.73e56","type":"debug","z":"a9045dfe.388788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":340,"wires":[]},{"id":"af2d02.c3d18b","type":"websocket-client","z":"","path":"wss://echo.websocket.org","tls":"","wholemsg":"false"}]