icp_5/Source Code/Flow_Sending_Email_Tweet.json
[{"id":"aa468daa.2ece","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e3626e.b97bad9","type":"inject","z":"aa468daa.2ece","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":200,"y":300,"wires":[["8c8d765c.bf55b8"]]},{"id":"c4b8e0dd.129dc8","type":"debug","z":"aa468daa.2ece","name":"meaningful_data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":300,"wires":[],"info":"Weather of Kansas City is"},{"id":"8c8d765c.bf55b8","type":"openweathermap","z":"aa468daa.2ece","name":"weather","wtype":"current","lon":"","lat":"","city":"kansas city","country":"USA","language":"en","x":400,"y":300,"wires":[["168d15c2.2ad41a","a6b00f81.fbad28"]],"info":"The weather in Kansas city is clear"},{"id":"d8694133.0c7e9","type":"e-mail","z":"aa468daa.2ece","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"preranasamant@gmail.com","dname":"","x":730,"y":380,"wires":[]},{"id":"168d15c2.2ad41a","type":"function","z":"aa468daa.2ece","name":"extractor","func":"msg.payload = msg.payload.description;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["c4b8e0dd.129dc8","d8694133.0c7e9","a26cd629.870d08"]]},{"id":"a26cd629.870d08","type":"twitter out","z":"aa468daa.2ece","twitter":"","name":"Tweet","x":660,"y":460,"wires":[]},{"id":"a6b00f81.fbad28","type":"debug","z":"aa468daa.2ece","name":"original_data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":220,"wires":[]}]